
@{
    ViewData["Title"] = "Index";
   
}

<h2>Produtos</h2>
<hr />

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
              
                <th scope="col">Descricao</th>
                <th scope="col">Quantidade Cliente</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ListaProduto != null)
            {
                @foreach (var item in ViewBag.ListaProduto)
                {
                    <tr>
                        <th scope="row">@item.ProdutoId</th>
                      
                        <td>@item.ProdutoNome</td>
                        <td>@item.QuantidadeCliente</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>