
@{
    ViewData["Title"] = "Index";
}

<h2>Produtos</h2>
<hr />

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ListaProduto != null)
            {
                @foreach (var item in ViewBag.ListaProduto)
                {
                    <tr>
                        <th scope="row">@item</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>