@model List<Questor.Questao2.Library.Domain.Entities.ProdutoCliente>
@{
    ViewData["Title"] = "Index";
    var a = (List<Questor.Questao2.Library.Domain.Entities.ProdutoCliente>)ViewBag.ListaProduto;
}

<h2>Produtos</h2>
<hr />

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.ListaProduto != null)
            {
                @foreach (var item in a)
                {
                    <tr>
                        <th scope="row">@item.ProdutoClienteId</th>
                        <td>@item.ProdutoNome</td>
                        <td>@item.ProdutoClienteId</td>
                        <td>@item.ClienteNome</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>